@import "./variables.scss";

button {
	background-color: $background-color;
	color: $complementary-color;
	font-family: Forum, Georgia, "Times New Roman", Times, serif;
	font-weight: bold;
	font-size: 15px;
	line-height: 45px;
	height: 45px;
	margin: 10px 0px;
	letter-spacing: 0.4em;
	padding-left: 0.9em;
	&:active {
		background-color: $complementary-color;
		color: $background-color;
	}
}

#startButton {
	display: none;
	transition: all ease-in-out 1s;
	//transition-property: width, opacity;
}

#stopButton {
	transition: opacity ease-in-out 1s;
}
