@import "./card.scss";
@import "./buttons.scss";
@import "./variables.scss";

* {
	box-sizing: border-box;
}

html,
body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

html,
body,
p,
h1,
h2 {
	margin: 0;
	padding: 0;
}
body {
	background-color: $background-color;
}
canvas {
	position: absolute;
	top: 11px;
	left: 11px;
	display: block;
	transition: ease-in-out 1s;
	opacity: 0;
}

main {
	overflow: scroll;
	background-color: $background-color;
	border: 1px solid $complementary-color;
	color: $complementary-color;
	margin: 10px;
	padding: 10px;
	height: calc(100% - 20px);
}
