@font-face {
	font-family: "Lato";
	src: url("../assets/fonts/Lato-Regular.ttf");
}
@font-face {
	font-family: "Elgoc";
	src: url("../assets/fonts/Elgoc-Thin.otf");
}
@font-face {
	font-family: "Forum";
	src: url("../assets/fonts/Forum-Regular.ttf");
}

$background-color: rgb(229, 229, 229);
//$complementary-color: #7371bf;
//$complementary-color: #ffbb6d;
$complementary-color: rgb(255, 109, 109);
